*
!*.*
!*/
.*
.*/
**/zlib
GPATH
GRTAGS
GTAGS
gtags.files
Makefile
Makefile.in
aclocal.m4
config.*
configure*
autom4te.cache
compile
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-*
tags
/log/
*.tmp
*.o
*.s
*.i.cc
*.lo
*.la
*.exe
*.dll
*_fbs.h
*_bfbs.h
*.bfbs
*.csv
*.csv.*
*.log
*.log.*
*.diff
*.orig
*.old
*.~
*~
goal.md
plan.md
plan.new.md
plan.feedback.md
findings.md
requirements.md
requirements.new.md
requirements.feedback.md
develop_plan.md
develop_requirements.md
implement_plan.md
iterate_implementation.md
iterate_plan.md
iterate_requirements.md
research_codebase.md
