*
!*.*
!*/
.*
!.clang-sanitize-ignorelist
!.lsan-suppressions
.*/
**/zlib
GPATH
GRTAGS
GTAGS
gtags.files
Makefile
Makefile.in
aclocal.m4
config.*
configure*
autom4te.cache
compile
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-*
tags
/logs/
**/__pycache__/
*.pyc
*.tmp
*.o
*.s
*.i.cc
*.lo
*.la
*.so
*.bc
*.exe
*.dll
*_fbs.h
*_bfbs.h
*.bfbs
*.csv
*.csv.*
*.log
*.log.*
*.sqlog
*.sqlog.*
*.diff
*.orig
*.old
*~
/zdb_pq/ext/libz--*.sql
!scripts/**
!zhttp/interop/testdata/**
zhttp/interop/qir-root/
zhttp/interop/qir-results/
arc/**
draft/**
