#!/bin/sh

usage() {
cat << .
Usage: z.config [OPTIONS] PREFIX

Options:
    -a ARCH	specify architecture (default: x86-64-v2)
    -L		use clang / llvm (default: gcc)
    -c		force re-configure
    -d		debug build (default: release) 
    -D		address sanitizer build
    -C		coverage build
    -p		profiling build
    -M		build for MinGW-w64
    -l		pass --enable-libtool-lock to configure
    -G		build without Gtk
    -P		build without PostgreSQL
    -S		build without SQLite3
    -F		include network traffic filtering (ZiMultiplex_FILTER)
    -Q		include QUIC diagnostics (Zquic_DEBUG)
.
}

ARCH="x86-64-v2"
OPREFIX=
CLANG=0
CONFIG=0
DEBUG=0
MINGW=0
LIBTOOL_LOCK=""
GTK="yes"
PQ="yes"
SQLITE="yes"
COVERAGE=0
PROFILE=0
NETFILTER=0
QUICDEBUG=0

while getopts "a:k:LcdDCpMlGPSFQh" arg
do case $arg in
  a) ARCH=$OPTARG;;
  L) CLANG=1;;
  c) CONFIG=1;;
  d) DEBUG=1;;
  D) DEBUG=2; CLANG=1;;
  C) COVERAGE=1;;
  p) PROFILE=1;;
  M) MINGW=1;;
  l) LIBTOOL_LOCK="--enable-libtool-lock";;
  G) GTK="no";;
  P) PQ="no";;
  S) SQLITE="no";;
  F) NETFILTER=1;;
  Q) QUICDEBUG=1;;
  h) usage; exit 0;;
esac; done
shift $(($OPTIND - 1))

PREFIX=$1
[ -z "$PREFIX" ] && { usage; exit 1; }

if [ $DEBUG -eq 1 ]; then
  FLAGS="-march=$ARCH -g -DZDEBUG"
elif [ $DEBUG -eq 2 ]; then
  FLAGS="-march=$ARCH -O1 -g -fsanitize=address -fno-omit-frame-pointer -fno-optimize-sibling-calls -DZDEBUG"
  SAN_IGNORELIST=`pwd`"/.clang-sanitize-ignorelist"
  [ -f "$SAN_IGNORELIST" ] && FLAGS="$FLAGS -fsanitize-ignorelist=$SAN_IGNORELIST"
else
  FLAGS="-march=$ARCH -O3 -g $OPTFLAGS -DNDEBUG"
fi
LDFLAGS=""

[ $COVERAGE -eq 1 ] && {
  [ $CLANG -eq 1 ] && {
    FLAGS="$FLAGS -fprofile-instr-generate -fcoverage-mapping"
    LDFLAGS="$LDFLAGS -fprofile-instr-generate"
  } || {
    FLAGS="$FLAGS --coverage"
    LDFLAGS="$LDFLAGS --coverage"
  }
}

[ $PROFILE -eq 1 ] && {
  FLAGS="$FLAGS -pg"
  LDFLAGS="$LDFLAGS -pg"
}

[ $NETFILTER -eq 1 ] && {
  FLAGS="$FLAGS -DZiMultiplex_FILTER"
}
[ $QUICDEBUG -eq 1 ] && {
  FLAGS="$FLAGS -DZquic_DEBUG"
}

BUILD="--build=x86_64-pc-linux-gnu"
[ $MINGW -eq 1 ] && BUILD="--build=x86_64-w64-mingw32"

[ $CONFIG -eq 1 ] && {
  touch configure.ac
  [ $MINGW -eq 1 ] && {
    libtoolize --copy --force
    patch -p0 <libtool.m4.mingw_patch
  }
  autoreconf -i
}

[ $CLANG -eq 1 ] && {
  [ $DEBUG -eq 2 ] && {
    LDFLAGS="$LDFLAGS -fsanitize=address"
  }
  CC=clang CXX=clang++ CFLAGS="$FLAGS" CXXFLAGS="$FLAGS" LDFLAGS="$LDFLAGS" ./configure $BUILD --disable-static "--prefix=$PREFIX" "--with-pq=$PQ" "--with-sqlite=$SQLITE" "--with-gtk=$GTK" $LIBTOOL_LOCK
} || {
  # gcc
  CFLAGS="$FLAGS" CXXFLAGS="$FLAGS" LDFLAGS="$LDFLAGS" ./configure $BUILD --disable-static "--prefix=$PREFIX" "--with-pq=$PQ" "--with-sqlite=$SQLITE" "--with-gtk=$GTK" $LIBTOOL_LOCK
}
