#!/bin/sh

usage() {
cat << EOF
Usage: z.config [OPTIONS] PREFIX

Options:
    -a ARCH	specify architecture (default: x86-64-v2)
    -L		use clang / llvm (default: gcc)
    -c		force re-configure
    -d		debug build (default: release) 
    -D		address sanitizer build ('')
    -M		build for MinGW-w64
    -l		pass --enable-libtool-lock to configure
    -G		build without Gtk
    -P		build without PostgreSQL
EOF
}

ARCH="x86-64-v2"
OPREFIX=
CLANG=0
CONFIG=0
DEBUG=0
MINGW=0
LIBTOOL_LOCK=""
GTK="yes"
PQ="yes"

while getopts "a:k:LcdDMlGPh" arg
do case $arg in
  a) ARCH=$OPTARG;;
  L) CLANG=1;;
  c) CONFIG=1;;
  d) DEBUG=1;;
  D) DEBUG=2; CLANG=1;;
  M) MINGW=1;;
  l) LIBTOOL_LOCK="--enable-libtool-lock";;
  G) GTK="no";;
  P) PQ="no";;
  h) usage; exit 0;;
esac; done
shift $(($OPTIND - 1))

PREFIX=$1
[ -z "$PREFIX" ] && { usage; exit 1; }

if [ $DEBUG -eq 1 ]; then
  FLAGS="-march=$ARCH -g -DZDEBUG"
elif [ $DEBUG -eq 2 ]; then
  FLAGS="-march=$ARCH -O1 -g -fsanitize=address -fno-omit-frame-pointer -fno-optimize-sibling-calls -DZDEBUG"
else
  FLAGS="-march=$ARCH -O3 -g $OPTFLAGS -DNDEBUG"
fi

BUILD="--build=x86_64-pc-linux-gnu"
[ $MINGW -eq 1 ] && BUILD="--build=x86_64-w64-mingw32"

[ $CONFIG -eq 1 ] && {
  touch configure.ac
  [ $MINGW -eq 1 ] && {
    libtoolize --copy --force
    patch -p0 <libtool.m4.mingw_patch
  }
  autoreconf -i
}

if [ $CLANG -eq 1 ]; then
  if [ $DEBUG -eq 2 ]; then
    LDFLAGS="-fsanitize=address"
  else
    LDFLAGS=""
  fi
  CC=clang CXX=clang++ CFLAGS="$FLAGS" CXXFLAGS="$FLAGS" LDFLAGS="$LDFLAGS" ./configure $BUILD --disable-static "--prefix=$PREFIX" "--with-pq=$PQ" "--with-gtk=$GTK" $LIBTOOL_LOCK
else
  # gcc
  CFLAGS="$FLAGS" CXXFLAGS="$FLAGS" LDFLAGS="$LDFLAGS" ./configure $BUILD --disable-static "--prefix=$PREFIX" "--with-pq=$PQ" "--with-gtk=$GTK" $LIBTOOL_LOCK
fi
